<h1>Login via...</h1>

<div class="row form-actions">
  <div class="col-sm-6">
    <a class="btn btn-block btn-lg btn-success" href="/auth/google_oauth2"><i class="fa fa-lg fa-google"></i> Google</a>
  </div>
  <div class="col-sm-6">
    <a class="btn btn-block btn-lg btn-primary" href="/auth/facebook"><i class="fa fa-lg fa-facebook"></i> Facebook</a>
  </div>
</div>

<p style="margin-top: 40px">Got a problem with this? Talk to Marc.</p>
