<% content_for :title do %>
  New Entry for <%= @event.title %>
<% end %>

<% content_for :nav_title do %>
  <%= link_to @event.title, event_path(@event), :class => 'navbar-brand' %>
<% end %>

<h1>New Entry</h1>

<%= render 'form' %>
