<% if @event %>
  <%= render partial: 'events/show', locals: { event: @event } %>

<% else %>
  <h1>Get started!</h1>
  <% if can? :create, Event %>
    <%= link_to 'Create an Event', new_event_path %>
  <% else %>
    <%= link_to 'Login', signin_path %>
  <% end %>
<% end %>
