<h1>Privacy Policy</h1>

<p>This is a hobby website. It only collects basic login information (name and email) from either Google or Facebook to authenticate you.</p>

<p>It also saves whatever data you input, including event details, food entry details, and votes. It does all of this in order to provide you with the intended cookoff voting services.</p>

<p>Your data will never be sold to 3rd parties. Not complicated.</p>

