<h1>Terms of Service</h1>

<h2>Use it, don't abuse it.</h2>

<p>This website is for fun. Use it to run your own Cook-off event. Use it when attending your friend's event.</p>

<p>Don't get angry if something doesn't work. Be nice about it and tell Marc.</p>