<h1>Terms of Service</h1>

<h2 class="h3">Use it, don't abuse it.</h2>

<p>This website is for fun. Use it to run your own Cook-off event. Use it when attending your friend's event.</p>

<p>One account per human. Be fair in your voting and overall use of the site.</p>

<p>Don't get angry if something doesn't work. Be nice about it and tell Marc.</p>

<p>&nbsp;</p>
<p>If you are found to be abusing the service, we reserve all rights and allow you nothing. Don't be a dick.</p>
