<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Thanks!</h1>
    <p class="help-block">Now kick back,<br>talk to someone new,<br>and enjoy this...</p>
    <%= image_tag current_user.success_pic, class: 'img-responsive center-block' %>

    <h4 style="margin-top: 80px">This was a fun little project by</h4>
    <a href="http://leglisesystems.com" target="_blank">
      <%= image_tag 'LEGLISE_SYSTEMS_blueorange_400x240.png', class: 'img-responsive center-block' %>
    </a>
  </div>
</div>
