// Uncomment below for navbar-fixed-top
// body { padding-top: 60px; }

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;

  @media (max-width: 768px) {
    display: inline-block;
    position: absolute;
    padding-right: 60px;
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.navbar-toggle {
  z-index: 100;
}

.navbar-inverse {
  border-radius: 0;
}



// Form styling

.control-label {
  font-size: 1.5em;

  abbr {
    border: none;
    text-decoration: none;
  }
}

span.radio label {
  font-size: 18px;
  height: 34px;
  padding-left: 30px;
}

span.radio input.radio_buttons {
  border: none;
  box-shadow: none;
  margin: -4px 0 0 -30px;
}
