<h3><%= link_to @event.title, @event %></h3>

<% if can? :edit, @event %>
  <div class="well" style="margin-top: 20px">
    <% if @event.categories.present? %>
      <h4 style="margin-top: 0">Admin: Manage Categories</h4>
      <ul>
        <% @event.categories.each do |cat| %>
          <li><%= link_to cat.name, edit_event_category_path(@event, cat) %></li>
        <% end %>
      </ul>
    <% else %>
      <h2>No Categories Found!</h2>
    <% end %>
    <%= link_to 'Add a Category', new_event_category_path(@event), class: 'btn btn-default' %>
  </div>
<% end %>
